<div class="container">
    <div class="row d-flex justify-content-center align-items-center vh-100">
        <div class="col-md-8 text-center">
            <h1 class="page-not-found-title">404</h1>
            <h3 class="page-not-found-sub">Page Not Found</h3>
            <a href="/" class="page-not-found-link">go back to Home page</a>
        </div>
    </div>
</div>